<table class="w-full">
  <tr>
    <td class="px-[20px] ">
      <x-image class="w-[600px]" imgUrl="icon3.png" href="#"/>
    </td>
  </tr>
  <tr>
    <td class="px-[40px] pt-[20px] pb-[5px] bg-[#ffffff] text-[24px] font-bold text-[#005555] text-center">
      Excepteur sint occaecat cupidatat 
    </td>
  </tr>

  <tr>
    <td class="px-[40px] pt-[10px] pb-[32px] bg-[#ffffff] text-[16px] text-secondary text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </td>
  </tr>


  <tr>
    <td class="py-[5px] bg-[#ffffff] text-[24px] font-bold text-[#005555] align-center-table">
      <table>
      
  <tr>
    
      <td 
      class="bg-[#008080] text-center text-white font-bold py-[10px] px-[40px]  rounded border-0 text-[20px] "
      >
    
          Ut enim ad minim veniam
   
      </td>
    
  </tr>  
    </table></td>
  </tr>

  <tr><td class="py-[5px]">&nbsp;</td></tr>
</table>