<table class="w-full">
  <tr>
    <td class="py-[20px] text-sm text-primary">
      <table >
        <tr>
          <td class="px-base  text-left">
            <x-image class="w-[110px] max-w-[110px] h-[45px]" imgUrl="icon2.png" href="#"/>
          </td>

          <td class="text-xs font-Arial text-primary  text-left w-[337px] sm:w-[209px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>