
   
<table class="w-full">
 
  <tr>
    <td class="py-[30px]  bg-[#F0F5F5] text-[#005555] text-center text-[24px] font-bold">
      Sint cupidatat occaecat ut
    </td>
  </tr> 


  <tr>
    <td class=" px-[20px] bg-[#F0F5F5] text-[#444444]">
      <table
      >
        <tr>
          <td class="px-[20px] py-[20px] content-center bg-[#ffffff] sm:w-full sm:inline-block ">
            <table
            >
              <tr>
                <td class="py-[10px] text-center">
                
                  <x-image class="w-[100px] h-[100px]" imgUrl="icon1.png"/>
                </td>
              </tr>

              <tr>
                <td
                  class="text-[#005555] py-[10px] text-[20px] leading-6 text-center"
                >
                  <strong>Nisi ut ade</strong>
                </td>
              </tr>
        
              <tr>
                <td
                  class="text-[#444444] px-[5px] text-center text-[16px] text-base"
                >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>1</sup>
                </td> 
              </tr>
            </table>
          </td>

          <td  class="w-[20px] sm:w-full sm:inline-block sm:py-[10px]">&nbsp;</td>

          <td class="content-center bg-[#ffffff] px-[20px] py-[20px] sm:w-full sm:inline-block ">
            <table
            >
              <tr>
                <td  class="py-[10px] text-center">
                  <x-image class="w-[100px] h-[100px] " imgUrl="icon1.png" />
                </td>
              </tr>

              <tr>
                <td
                  class="text-[#005555] py-[10px] text-[20px] leading-6 text-center"
                >
                  <strong>Duis aute irure</strong>
                </td>
              </tr> 

       
              
              <tr>
                <td
                  class="text-[#444444] text-[16px] text-base px-[5px] text-center "
                >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>2</sup>
                </td> 
              </tr>
             
            </table>
          </td>
        </tr>
        <tr>
          <td class="py-[10px]">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</table>